@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
body{
    background: azure;
  font-family: 'Playfair Display', serif;    
}
#title{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  clear: both;
}
#description{
  text-align: center;
  font-style: italic;
  font-family: nyala;
  font-size: 20px;
}
#survey-form{
  display: block;
  margin-top: 0px;
}
label{
    display: block;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

#name, #email, #number, #dropdown, #birth{
  display: block;
    width: 40%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
  border: 1.5px solid black;

}
#comments{
  display: block;
  height: 40px;
  width: 35%;
  border: 2px solid black;
}
#submit{
  display: block;
  width: 20%;
  padding: 20px;
  background: ash;
  color: inherit;
  cursor: pointer;
  border-radius: 1.5px;
  margin-top: 20px;
}
