#title{
  text-align: center;
  text-decoration: underline;
  font-size: large;
  font-weight: bolder;
}
#description{
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}
div:first-of-type{
  max-width: 50%;
  text-align: center;
  display: block;
  margin-left: 25%;
}
#survey-form{
  display: block;
}
label, p{
 font-size: larger;
}
[Type='submit']{
  padding-right: 25px;
  padding-bottom: 20px;
}
